
.signup-container{
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
}

#signup-form {
    max-width: 600px;
    min-width: 400px;
    width: 45%;
    border-radius: 5px;
    padding: 6em;
    background-color: rgb(231, 231, 231);
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin: auto;
    box-shadow: -1px 1px 5px 1px rgb(196, 195, 195);
}

form label{
    font-weight: 500;
    letter-spacing: 2px;
}

.input-box input {
    outline: none;
    padding: 7px 9px;
    font-size: 1.2em;
    width: 100%;
}

form button{
    font-size: 1.1rem;
    cursor: pointer;
    letter-spacing: 2px;
    color: rgb(224, 223, 223);
    border: 0;
    background-color: rgb(3, 102, 184);
    border-radius: 5px;
    margin-top: .7em;
    padding: 10px;
}

form a{
    color: gray;
    text-align: center;
}

.error {
    text-align: left;
    letter-spacing: 1px;
    background-color: #fcc5c5;
    color: #f31e1e;
    width: 100%;
    padding: 10px;
}

.error i {
    color: #f31e1e;
}

.red-line input{
    border: 2px solid #f31e1e;
}
